/* ------------------------------------- Font Section -------------------------------------------------------------- */

@font-face {
    font-family: 'ADAM-Bold';
    src: url('../Fonts/Adam-Bold.ttf');
}

@font-face {
    font-family: 'ADAM - Medium';
    src: url('../Fonts/Adam-Medium.ttf');
}

@font-face {
    font-family: 'ADAM - Light';
    src: url('../Fonts/Adam-Light.ttf');
}

/* ------------------------------------- Logo Section -------------------------------------------------------------- */

.logo {
    font-family: 'ADAM-Bold';
    position: relative;
    text-align: center;
    padding: 40px;
    color: #F4F4F4;
    font-size: 2em;
}

.logo .logo-marker {
    color: #CF1B1B;
}


/* ------------------------------------- Main Section -------------------------------------------------------------- */

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111111;
}

ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 3px solid #00000000;
    border-radius: 10px;
    padding: 20px 0;
    box-sizing: border-box;
    overflow: hidden;
    width: 240px;
    background: linear-gradient(0deg, #000000, #0C0C0C);
}

/* Shadow on top of box - to remove erase bottom: 50%; */
ul:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    z-index: 1;
}

ul li {
    position: relative;
    list-style: none;
    text-align: center;
    margin: 15px;
}

ul li label {
    position: relative;
}

/* Hides checkbox */
ul li label input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Design of buttons */
ul li label .icon-box {
    width: 60px;
    height: 60px;
    background: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #000000;
    border-radius: 10px;
    transition: 0.5s;
}

/* Colour of button logos */
ul li label .icon-box .fas, 
ul li label .icon-box .far, 
ul li label .icon-box .fab {
    font-size: 30px;
    color: #222222;
    transition: 0.5s;
}

/* Glow effect around buttons */
ul li label input[type="checkbox"]:checked ~ .icon-box {
    background: #000000;
    border: 3px solid #FFFFFF;
    box-shadow: 0 0 10px rgba(33, 156, 243, 0.5),
                0 0 20px rgba(33, 156, 243, 0.5),
                0 0 30px rgba(33, 156, 243, 0.5),
                inset 0 0 10px rgba(33, 156, 243, 1);
}

/* Glow effect on button logos */
ul li label input[type="checkbox"]:checked ~ .icon-box .fas, 
ul li label input[type="checkbox"]:checked ~ .icon-box .far,
ul li label input[type="checkbox"]:checked ~ .icon-box .fab  {
    color: #FFFFFF;
    text-shadow: 0 0 10px rgba(33, 156, 243, 1),
                0 0 10px rgba(33, 156, 243, 1);
}

.text_logo {
    color: #FFFFFF;
    text-shadow: 0 0 10px rgba(33, 156, 243, 1),
                0 0 10px rgba(33, 156, 243, 1);
}